<img class="responsive-img body">
<% if current_user %>
<div class="row">
  <h4 class="right-align black-text col s3 offset-s8" id="home-text-format">Welcome, <%= "#{current_user.username}" %>!</h4>
</div>
<% else %>
<div class="row">
  <br><br><br>
</div>
<% end %>
<div class="container home-text">
  <div class="container">
    <h3 class="left-align white-text home-line1">Set a Goal</h3>
    <h3 class="center-align white-text">Get a Playlist</h3>
    <h3 class="right-align white-text">Stay Motivated</h3>
    <div class="row home-login right-align">
      <% if !current_user %>
        <%= link_to "Log In with Spotify", "/auth/spotify", class: "btn-large waves-effect waves-light light-green " %>
      <% end %>
    </div>
  </div>
</div>
  <div class="container how-to" id="instruction-list">
    <ul class="collection" id="instructions">
      <li class="collection-item center instructions"><h5>Bring a Path You want to Discover</h5></li>
      <li class="collection-item center instructions"><h5>Enter Your Activity and Duration to Match Your Tempo and Energy</h5></li>
      <li class="collection-item center instructions"><h5>GreaterOutdoors Customizes a Playlist using Your Spotify Favorites</h5></li>
    </ul>
  </div>
</div>
