body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: image-url("mountain.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.not-home {
  background: image-url("wall-texture.jpg") no-repeat center center fixed;
}

main {
  flex: 1 0 auto;
}
/*-------------------------------
Home Page
------------------------------- */
.home-line1 {
  padding-left: 4%;
}

.home-login {
  padding-left: 63%;
}

.home-text {
  padding-top: 17% !important;
  padding-left: 10% !important;
}

.instructions {
  opacity: .6;
}

/*-------------------------------
Navbar
------------------------------- */
.brand {
  font-size: 2.5rem !important;
}

.logo {
  padding-left: 1%;
}

.left {
  margin-left: 20% !important;
}

// .nav-tabs {
//   font-size: 1.4rem !important;
// }
//
// .nav_image {
//   margin-top: 5px;
//   border-radius: 50%;
//   border: 2px solid white;
// }

/*-------------------------------
Footer
------------------------------- */

#footer {
  background-color: #101010;
  opacity: .8;
  z-index: 10000;
  margin-top: 20%;
}

/*-------------------------------
Create Playlist Page
------------------------------- */
.time-input {
  color: black !important;
}

.map {
  width: 400px;
  margin-left: 32%;
}

.center {
  margin-left: 9%;
}

.playlist-button {
  margin-left: 45%;
}

.create-button {
  padding-top: 1.3% !important;
}

/*-------------------------------
User Playlist Page
------------------------------- */

.playlist {
  opacity: .8;
}
