<div class="row">
  <h3 class="left-align white-text col s12">Welcome, <%= "#{current_user.username}" %>!</h3>
</div><br><br><br><br>
<!-- <div class="container"> -->
  <ul class="collapsible playlist col s3 " data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="mdi-av-queue-music"></i>Dog Days Are Over - Floerence + The Machine</div>
      <div class="collapsible-body white"><ol>
                                            <li>Dog Days Are Over - Floerence + The Machine</li>
                                            <li>First - Cold War Kids</li>
                                            <li>Outside - Calvin Harris</li>
                                            <a class="btn-floating btn-large waves-effect waves-light light-green"><i class="mdi-content-add"></i></a> Add Playlist to Spotify
                                          </ol>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-av-queue-music"></i>Helena Beat - Foster The People</div>
      <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-av-queue-music"></i>Diane Young - Vampire Weekend</div>
      <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
</div>
