<div class="row">
  <h3 class="left-align white-text col s12">Welcome, <%= "#{current_user.username}" %>!</h3>
</div><br><br><br><br>
<div class="row">
  <div class="input-field col s3 offset-s3 teal lighten-2">
    <select>
      <option value="" disabled selected>Choose your Activity</option>
      <option value="1">Run</option>
      <option value="2">Bike</option>
      <option value="3">Hike</option>
    </select>
  </div>
  <div class="input-field col s3 offset-s1 teal lighten-2">
    <input id="time" type="text" class="validate">
      <label class="time-input" for="time">Time in minutes</label>
  </div>
</div><br><br><br><br>
<div class="row">
  <div class="center"><%= image_tag "trail.gif", class:"map" %></div>
</div><br>
<div class="row">
  <%= link_to "Create Playlist", "auth/twitter", class: "btn-large waves-effect waves-light deep-orange lighten-1 playlist-button" %>
</div>
